name: lint
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  Lint:
    uses: zichouu/actions/.github/workflows/go-lint.yml@main
    permissions:
        contents: write
        pull-requests: read
        checks: write
