name: lint
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  Lint:
    runs-on: ubuntu-latest
    permissions:
        contents: write
        pull-requests: read
        checks: write
    steps:
      - name: 1. Checkout
        uses: actions/checkout@v6
      - name: 2. Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: 3. Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
