name: release
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
        contents: write
    steps:
      - name: 1. Checkout
        uses: actions/checkout@v6
      - name: 2. Setup GO
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: 3. gobuild
        run: go run github.com/zichouu/go-build/...@latest
      - name: 4. Release
        uses: softprops/action-gh-release@v2
        with:
            generate_release_notes: true
            files: |
              build/*
